@use "../global" as g;


.l-main {
  max-width: 1200px;
  width: 100%;
  padding: 0 2%;

}

@include g.mq(pc) {
  body {
    background: g.$white-color;
  }
}

h1{
  color: red;
  text-align: center;
}

.img-wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;

  .large-pic {
    flex: 1;
    height: auto;
    margin-right: 10px;
  }
}

.pic-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  
  &__item {
    flex: 1 1 33%;
  }

}



